@model PokerStrategy.Web.ViewModels.Forum.ThreadViewModel
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<div class="container body-content" id="top">

	<!--Thread Title-->
	<h2 style="text-align:left;">
		<b>@Model.Title</b>
	</h2>

	<!--EDIT AND DELETE-->
	@if (this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
	{
		<form method="post">
			<!--Delete with Confirmation-->
			<span id="confirmDeleteSpan_@Model.Id" style="display:none">
				<span>Are you sure?</span>
				<button type="submit" class="btn btn-danger" asp-area="Administration" asp-controller="Admin" asp-action="DeleteThreadById" asp-route-id="@Model.Id">Yes</button>
				<a class="btn btn-primary"
				   onclick="confirmDelete('@Model.Id', false)">No</a>
			</span>
			<span id="deleteSpan_@Model.Id">
				<a class="btn btn-danger"
				   onclick="confirmDelete('@Model.Id', true)">Delete</a>
			</span>
		</form>
		<script>
			function confirmDelete(uniqueId, isDeleteClicked) {
				var deleteSpan = 'deleteSpan_' + uniqueId;
				var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

				if (isDeleteClicked) {
					$('#' + deleteSpan).hide();
					$('#' + confirmDeleteSpan).show();
				} else {
					$('#' + deleteSpan).show();
					$('#' + confirmDeleteSpan).hide();
				}
			}
		</script>
	}

	<br />

	<a href="@Model.GetReplyJumpPosition()" class="btn btn-newReply" style="float: left; margin-left:-15px;  background-color: gray; color: white;">Jump to First</a>

	@if (Context.User.Identity.IsAuthenticated)
	{
		<div id="replyRow">
			<span><a asp-controller="ForumReply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply" style="background-color:darkgreen; color: white; margin-left:5px;">Reply</a></span>
		</div>
	}
</div>

@{string margin = "47px";}
@if (Context.User.Identity.IsAuthenticated)
{
	margin = "0px";
}

<div class="repliesSection" style="margin-top:@margin; margin-bottom: 9px;">
	<!--All Replies-->
	@{int counter = 0;}
	@foreach (var reply in Model.Replies)
	{
		var replyNumber = Model.Replies.Count() - counter;
		counter++;
		<div class="row replyContent replyStyle col-lg-12">
			<div class="col-md-2 replyAuthorContainer" id="@reply.Id">
				<b class="float-left number-logo">#@replyNumber</b>

				<div class="bg-cover"
					 style="background-image: url('@reply.PostedByAvatarUrl'); padding-top:25px; padding-bottom:5px;">
				</div>

				<a>
					<strong class="float-left">@reply.PostedByName</strong>
				</a>  <br />
				<span class="float-left">@reply.RepliedOn</span>
			</div>
			<div class="col-md-9 replyContentContainer" style="padding:2%">
				<div class="postContent">
					<!--class="postContent"-->

					@Html.Raw(reply.SanitizedContent)
				</div>
			</div>

			<div class="replyDeleteBtnContainer" style="margin:1%">
				<!--EDIT AND DELETE-->
				@if (this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
				{
					<form method="post">
						<!--Delete with Confirmation-->
						<span id="confirmDeleteReplySpan_@reply.Id" style="display:none">
							<span>Are you sure?</span>
							<button type="submit" class="btn btn-danger"
									asp-area="Administration"
									asp-controller="Admin"
									asp-action="DeleteReplyById"
									asp-route-id="@reply.Id">
								Yes
							</button>
							<a class="btn btn-primary"
							   onclick="confirmDeleteReply('@reply.Id', false)">No</a>
						</span>
						<span id="deleteReplySpan_@reply.Id">
							<a class="btn btn-danger"
							   onclick="confirmDeleteReply('@reply.Id', true)">Delete</a>
						</span>
					</form>
					<script>
						function confirmDeleteReply(uniqueId, isDeleteClicked) {
							var deleteReplySpan = 'deleteReplySpan_' + uniqueId;
							var confirmDeleteReplySpan = 'confirmDeleteReplySpan_' + uniqueId;

							if (isDeleteClicked) {
								$('#' + deleteReplySpan).hide();
								$('#' + confirmDeleteReplySpan).show();
							} else {
								$('#' + deleteReplySpan).show();
								$('#' + confirmDeleteReplySpan).hide();
							}
						}
					</script>
				}

				<!--------Edit reply---------->
				@if (reply.CurrentUserIsCreator || User.IsInRole("Admin"))
				{

					<!--Edit-->
					<form method="post" style="margin-top:15%">
						<a asp-controller="ForumReply" asp-action="EditReplyById"
						   asp-route-id="@reply.Id" class="btn btn-primary">Edit</a>
					</form>
				}

			</div>
		</div>
	}
</div>
<a href="#top" class="btn btn-newReply" style="float:left; background-color:gray; color: white;">Jump to Last</a>
