@model PokerStrategy.Web.ViewModels.Forum.ThreadModel
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<div class="container body-content">
	<div class="row postHeader">

		<header>

			<span class="postIndexTitle">
				@Model.Title
			</span>
			@if (User.IsInRole("Admin"))
			{
				<a type="button" class="btn btn-primary" style="background-color:red" asp-area="Administration" asp-controller="Admin" asp-action="DeleteThreadById" asp-route-id="@Model.Id">Delete</a>
			}

		</header>

	</div>

	<div class="row" id="replyDivider">
		<div class="ml60 col-md-2">
			@if (Context.User.Identity.IsAuthenticated)
			{
				<div class="row" id="replyRow">
					<span><a asp-controller="ForumReply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply" style="background-color:royalblue; color: white;">Reply</a></span>
				</div>
			}
		</div>
	</div>

</div>

<a href="#@Model.Replies.LastOrDefault().Id" style="background-color:green; color: white;">Jump to First</a>

@{int counter = 0;}
@foreach (var reply in Model.Replies)
{
	var replyNumber = Model.Replies.Count() - counter;
	counter++;
	<div class="row replyContent replyStyle">
		<div class="col-md-3 replyAuthorContainer" id="@reply.Id">
			<b class="float-left">#@replyNumber</b>


			<div class="bg-cover"
				 style="background-image: url('@reply.PostedByAvatarUrl'); padding-top:25px; padding-bottom:5px;">
			</div>

			<a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.PostedById">
				<strong class="float-left">@reply.PostedByName</strong>
			</a>  <br />
			<span class="float-left">@reply.RepliedOn</span>
		</div>
		<div class="col-md-8 replyContentContainer">
			<div class="postContent">
				<!--class="postContent"-->

				@Html.Raw(reply.SanitizedContent)
			</div>
		</div>
		<div class="col-md-1 replyContentContainer">

			@if (User.IsInRole("Admin"))
			{
				<a type="button" class="btn btn-primary del float-right" style="background-color:red;" asp-area="Administration" asp-controller="Admin" asp-action="DeleteReplyById" asp-route-id="@reply.Id">Delete</a>
			}
		</div>
	</div>
}

<a class="float-left" href="#@Model.Replies.FirstOrDefault().Id" style="background-color:green; color: white;">Jump to Last</a>
