@model PokerStrategy.Web.ViewModels.Forum.ThreadModel

<div class="container body-content">
	<div class="row postHeader">
		<div class="postHeading">
			<span class="postIndexTitle">
				@Model.Title
			</span>
			<span id="headingBtn">
				<a asp-controller="Forum" asp-action="Category" asp-route-id="@Model.CategoryId" class="btn btn-back">
					<b>Back to @Model.CategoryTitle</b>
				</a>
			</span>
		</div>
	</div>

	<div class="row" id="postIndexContent">
		<div class="col-md-3 postAuthorContainer">
			<div class="postAuthorImage" style="background-image: url(@Model.PostedByAvatarUrl); background-size: 100%;"></div>
			<a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.PostedById">
				<strong>@Model.PostedByName</strong>
			</a> (<span class="postAuthorRating">@Model.UserPoints</span>) <br />
			<span class="postDate">@Model.CreatedOn</span>
			<!--
	if (reply.IsAuthorAdmin)
	{
		<div class="isAdmin profileLabel smaller">Admin</div>
					<br />
	}
	-->
		</div>
		<div class="col-md-9 postContentContainer">
			<div class="postContent">
				@Html.Raw(@Model.Content)
			</div>
		</div>
	</div>

	<div class="row" id="replyDivider"></div>
	@if (Context.User.Identity.IsAuthenticated)
	{
<div class="row" id="replyRow">
	<span><a asp-controller="ForumReply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">Reply</a></span>
</div>}
	@if (Model.Replies.Any())
	{
		foreach (var reply in Model.Replies)
		{
<div class="row replyContent">
	<div class="col-md-3 replyAuthorContainer">
		<div class="postAuthorImage" style="background-image: url(@reply.PostedByAvatarUrl); background-size: 100%;"></div>
		<a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.PostedById">
			<strong>@reply.PostedByName</strong>
		</a> (<span class="postAuthorRating">@reply.PostedByPoints</span>) <br />
		<!--
		if (reply.IsAuthorAdmin)
		{
			<div class="isAdmin profileLabel smaller">Admin</div>
						<br />
		}
		-->
		<span class="postDate">@reply.RepliedOn</span>
	</div>
	<div class="col-md-9 replyContentContainer">
		<div class="postContent">
			@Html.Raw(@reply.Content)
		</div>
	</div>
</div> }
			}
			else
			{
<div class="noPosts">
	<h3>
		There are no replies to this post.<br />
	</h3>
</div>}
</div>
