@model PokerStrategy.Web.ViewModels.Forum.ThreadModel
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<div class="container body-content">
	<div class="row postHeader">

		<header>
			<span id="headingBtn">
				<a asp-controller="Forum" asp-action="Category" asp-route-id="@Model.CategoryId" class="btn btn-back">
					<button class="btn btn-newBack center">Back</button>
				</a>
			</span>
			<span class="postIndexTitle">
				@Model.Title
			</span>
			@if (User.IsInRole("Admin"))
			{
				<a type="button" class="btn btn-primary" style="background-color:red" asp-area="Administration" asp-controller="Admin" asp-action="DeleteThreadById" asp-route-id="@Model.Id">Delete</a>
			}

		</header>

	</div>

	<div class="row" id="replyDivider">
		<div class="ml60 col-md-2">
			@if (Context.User.Identity.IsAuthenticated)
			{
				<div class="row" id="replyRow">
					<span><a asp-controller="ForumReply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply" style="background-color:royalblue; color: white;">Reply</a></span>
				</div>
			}
		</div>
	</div>

</div>

<a href="#@Model.Replies.LastOrDefault().Id" style="background-color:green; color: white;">Jump to First</a>


@foreach (var reply in Model.Replies)
{

	<div class="row replyContent replyStyle">
		<div class="col-md-3 replyAuthorContainer" id="@reply.Id">
			
			<img src="https://lh3.googleusercontent.com/ogw/ADGmqu-J9WyRKi6DJU9hEcjgvL1MqcGFVqCZrdn-U8EbQQ=s192-c-mo"/>
			<a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.PostedById">
				<strong>@reply.PostedByName</strong>
			</a>  <br />
			<span class="postDate">@reply.RepliedOn</span>
		</div>
		<div class="col-md-8 replyContentContainer">
			<div class="postContent">
				@Html.Raw(reply.SanitizedContent)
			</div>
		</div>
		<div class="col-md-1 replyContentContainer">

			@if (User.IsInRole("Admin"))
			{
				<a type="button" class="btn btn-primary del" style="background-color:red;" asp-area="Administration" asp-controller="Admin" asp-action="DeleteReplyById" asp-route-id="@reply.Id">Delete</a>
			}
		</div>
	</div>
}

