@model PokerStrategy.Web.ViewModels.Home.HomeIndexModel
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />

</head>
<body>
	<header>
		<div class="container body-content">
			<div class="row frontPageSplash">
				<div class="col-lg-12">
					<div class="frontPageHeading">
						<h1>Welcome to PokerStrategy</h1>
					</div>
				</div>
			</div>
		</div>
	</header>


	<br />
	<br />
	<div class="row frontPageContent">

		<div class="col-lg-7">
			<h3 id="latestNews" style="padding-bottom:2%">Latest News</h3>
			@foreach (var n in Model.LatestNews)
			{
			<a href="/News/News/@n.Id">
				<div class="card" style="padding-bottom:50px; background-color:#282726">
					@*<div class="row no-gutters">*@

					@*<div style="margin-top:5%;width: 600px;">*@
					<div class="card-img-top" style="padding:5%">
						<center>
							<img src="@n.PictureUrl" class="card bg-dark" style="object-fit: cover; width:inherit">
						</center>
					</div>
					<div class="w-100"></div>
					<div class="card-text">
						<div class="col home-card">
							<div class="card-block home-card px-2" style="margin-top:3%">

								<h2 class="card-title">
									@n.Title
								</h2>

							</div>
							<br />
							<div>
								<div style="font-size: 100%; margin: 1%; margin-top:-4%" class="card-text">@Html.Raw(n.ShortContentForLatestNews)</div>
							</div>
						</div>
					</div>
					@*</div>*@

					@*</div>*@
				</div>
			</a>
			<br />
			}
		</div>
		<br />
		<div class="col-lg-5">



			<h3 id="latestPosts" style="padding-bottom:1%">Latest Discussions</h3>
			<div class="table" id="latestPostsTable" style="margin-top:15px;">

				@foreach (var t in Model.LatestThreads)
				{
				<div style="margin:5px; background-color:#282726;   display: flex;justify-content: center;align-items: center;height: 30px;">
					<a asp-controller="ForumThread" asp-action="Thread" asp-route-id="@t.Id">
						<div class="postTitle">
							@(t.Title.Length > 30 ? t.Title.Substring(0,30) : t.Title)
						</div>
					</a>

				</div>
				}

			</div>
			<br />

			<h3 id="latestNews">Latest Videos</h3>
			@foreach (var t in Model.LatestVideos)
			{
			<a href="/Video/Video/@t.Id">
				<div class="card" style="background-color: #282726;">
					@*<center>
			<div class="card-img-top">
				<img src="@t.VideoThumbnailUrl" class="max-width:90%" alt="">
			</div>
		</center>*@

					<div class="card-img-top" style="padding:5%">
						<center>
							<img src="@t.VideoThumbnailUrl" class="card bg-dark" style="object-fit: cover; width:inherit">
						</center>
					</div>




					<div class="card-text">
						<center>
							<h3 class="card-text" style="padding-top:4%">@t.ShortenedTitle</h3>
							<p class="card-text">@t.ShortenedDescription</p>
						</center>
						<br />
					</div>
				</div>
			</a>
			<br />
			}

		</div>
	</div>





</body>



