@model PokerStrategy.Web.ViewModels.Home.HomeIndexModel
	<head>
		<style>
			h1 {
				text-align: center;
			}

			h3 {
				text-align: center;
			}

			p {
				text-align: center;
			}

			div {
				text-align: center;
			}

			a {
				color: black;
			}
			
		</style>
	</head>

	<header>
		<div class="container body-content">
			<div class="row frontPageSplash">
				<div class="col-lg-12">
					<div class="frontPageHeading">
						<h1>Everything about Poker</h1>
						<form asp-controller="Search" asp-action="Search" method="post">
							<input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search the Site" />
						</form>
					</div>

					<div class="frontPageSubHeading">
						<p><h3>News, Hand Discussions, Room Discussions, Funny Stories</h3></p>
					</div>
					<div>
						
					</div>
				</div>
			</div>
		</div>
	</header>



	<div class="row frontPageContent">

		<div class="col-lg-8">
			<h3 id="latestNews">Latest News</h3>
			@foreach (var t in Model.LatestsPosts)
			{
		<div class="card h-20 table table-hover">
			<h4 class="card-header">@t.Title</h4>
			<a asp-controller="ForumThread" asp-action="Thread" asp-route-id="@t.Id">
				<img class="card-img-top" src="http://placehold.it/350x150" alt="">
			</a>
			<div class="card-body">
				<p class="card-text">@t.DateCreated</p>
				<p class="card-text">@t.LatestContent</p>
			</div>

		</div>
			}
		</div>

		<div class="col-lg-4">
			<h3 id="latestPosts">Latest Posts</h3>
			<table class="table table-hover" id="latestPostsTable">
				<tbody>
					@foreach (var t in Model.LatestsPosts)
					{
					
						<tr>
							<td>
								<a asp-controller="ForumThread" asp-action="Thread" asp-route-id="@t.Id">
									<div class="postTitle">

										@t.Title

									</div>
									<div class="postSubtitle">
										@t.LatestContent
									</div>
								</a>
							</td>
						</tr>
					
					}
				</tbody>
			</table>
		</div>
	</div>



