@model PokerStrategy.Web.ViewModels.News.NewsListingViewModel
@using PokerStrategy.Data.Models
@using Microsoft.AspNetCore.Identity
@using PokerStrategy.Common
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<body>
	@foreach (var news in Model.News)
	{
		<div class="main-card" style="padding-left:1%; padding-bottom:1%; float:left">
			<a asp-controller="News" asp-action="IncrementViewsById" asp-route-id="@news.Id">
				<div class="card" style="width: 20.69rem; height:25rem; background-color:#282726">
					<img class="card bg-dark" src="@news.PictureUrl" style="object-fit: cover; width:100%; height:200px">
					<div class="card-body">
						<strong class="card-title">
							@news.ShortTitle
						</strong>

						<div class="card-text" style="height:80px; color:seashell; text-align: left;">@news.ShortContentForAllNews</div>


						<div class="card footer" style="background-color:inherit">

							<span>
								@news.CreatedOn.ToString()&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;Views: @news.Views
							</span>
						</div>

					</div>
				</div>
			</a>
			<!--EDIT AND DELETE-->
			@if (this.User.IsInRole("Admin"))
			{
				<!--Edit-->
				<form method="post" style="padding:2%">
					<a asp-area="Administration" asp-controller="Admin" asp-action="EditNewsById"
					   asp-route-id="@news.Id" class="btn btn-primary">Edit</a>

					<!--Delete with Confirmation-->
					<span id="confirmDeleteSpan_@news.Id" style="display:none">
						<span>Are you sure?</span>
						<button type="submit" class="btn btn-danger" asp-area="Administration" asp-controller="Admin" asp-action="DeleteNewsById" asp-route-id="@news.Id">Yes</button>
						<a class="btn btn-primary"
						   onclick="confirmDelete('@news.Id', false)">No</a>
					</span>
					<span id="deleteSpan_@news.Id">
						<a class="btn btn-danger"
						   onclick="confirmDelete('@news.Id', true)">Delete</a>
					</span>
				</form>
				<script>
					function confirmDelete(uniqueId, isDeleteClicked) {
						var deleteSpan = 'deleteSpan_' + uniqueId;
						var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

						if (isDeleteClicked) {
							$('#' + deleteSpan).hide();
							$('#' + confirmDeleteSpan).show();
						} else {
							$('#' + deleteSpan).show();
							$('#' + confirmDeleteSpan).hide();
						}
					}
				</script>
			}
		</div>
	}
</body>

