@model PokerStrategy.Web.ViewModels.Forum.ThreadListingViewModel
@using PokerStrategy.Common
@using PokerStrategy.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<center>
	<h1>Discussion Board</h1>
	<h1>@Model.Category.Title</h1>
</center>
<br />

<a type="button" class="btn btn-primary" style="background-color:darkgreen; border:unset; margin-bottom: 10px;" asp-controller="ForumThread" asp-action="Create" asp-route-id="@Model.Category.Id">Open new thread</a>



@if (Model.ThreadsList.Any())
{
	<table class="table table-bordered  table-custom">
		<tbody>
			@foreach (var thread in Model.ThreadsList)
			{
				<tr>
					<td>
						<a asp-controller="ForumThread"
						   asp-action="Thread"
						   asp-route-id="@thread.Id">
							@thread.Title
						</a>
					</td>
					<td>
						@thread.PostedByName
					</td>
					<td>
						@thread.CreatedOn
					</td>


					@if (this.User.IsInRole(GlobalConstants.AdminRoleName))
					{
						<td>
					

							<!--EDIT AND DELETE-->
							@if (this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
							{
								<form method="post">
									<!--Delete with Confirmation-->
									<span id="confirmDeleteSpan_@thread.Id" style="display:none">
										<span>Are you sure?</span>
										<button type="submit" class="btn btn-danger" asp-area="Administration" asp-controller="Admin" asp-action="DeleteThreadById" asp-route-id="@thread.Id">Yes</button>
										<a class="btn btn-primary"
										   onclick="confirmDelete('@thread.Id', false)">No</a>
									</span>
									<span id="deleteSpan_@thread.Id">
										<a class="btn btn-danger"
										   onclick="confirmDelete('@thread.Id', true)">Delete</a>
									</span>
								</form>
								<script>
									function confirmDelete(uniqueId, isDeleteClicked) {
										var deleteSpan = 'deleteSpan_' + uniqueId;
										var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

										if (isDeleteClicked) {
											$('#' + deleteSpan).hide();
											$('#' + confirmDeleteSpan).show();
										} else {
											$('#' + deleteSpan).show();
											$('#' + confirmDeleteSpan).hide();
										}
									}
								</script>
							}
						</td>
					}

				</tr>
			}
		</tbody>
	</table>
}
else
{
	<center>
		<h2>No threads in this Board yet.</h2>
	</center>
}